.new-query-container {
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
}

.query-form-button {
    width: 100%;
}

.query-form-button[disabled], .query-form-button[disabled]:hover, .query-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.query-form-row {
    margin-bottom: 20px;
}

.query-form-type {
    margin-bottom: 20px;
}

.query-form-row input, .query-form-row textarea {
    margin-bottom: 4px;
}