.new-incident-container {
    max-width: 520px;
    margin: 0 auto;
    margin-top: 40px;
}

.create-incident-form-button {
    width: 100%;
}

.create-incident-form-button[disabled], .create-incident-form-button[disabled]:hover, .create-incident-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.incident-form-row {
    margin-bottom: 20px;
}

.incident-form-row input, .incident-form-row textarea {
    margin-bottom: 4px;
}